# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# local run batch
*.bat

# npp backups
*.bak

# archives, just in case
*.7z
*.zip

# now we support saving files so...
*.sql

# avoid updating the config
config.yaml

# log file 
.log

# custom sql folder
sql/

#screenshots dir
screens/