# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/

#local backup dir
bkp/

#local tmp dir
tmp/

#exclude pyhdb folder
pyhdb/

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# local run batch
*.bat

# npp backups
*.bak

# archives, just in case
*.7z
*.zip

# now we support saving files so...
*.sql
*.sqbkp

# avoid updating the config
config.yaml

# avoid updating the layout
layout.yaml

#and any yamls
*.yaml

# log file 
.log
rybafish.log
*.log

# custom sql folder
sql/

# sql scripts folder
scripts/

# custom KPIs folder - now included into build
# CustomKPIs/

# custom sql folder
ContextSQLs/

#screenshots dir
screens/

# trace files if any
*.trc

# SQLite data files
*.db

# Private design thoughts
design_thoughts.txt

# csv files
*.csv

# emacs ignore
.projectile

# pyenv stuff
.python-version

# highlights details
.highlight
