# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/

_constants.py

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# local run batch
*.bat

# npp backups
*.bak

# avoid updating the config
config.yaml

# log file 
.log

# custom sql folder
sql/

#screenshots dir
screens/